html {
    scroll-behavior: smooth;
}

body {
    margin:0%;
    padding:0%;
    background-color: black;
}


.navbar {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

.rounded-0 i {
    font-size: 27px;
    color: #ffffff;
    padding: 1px;
}

.info1 p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.wallpaper {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wallpaper-1 {
    background-image: url('../img/card1.jpg');
}

.wallpaper-2 {
    background-image: url('../img/card2.jpg');
}

.wallpaper-3 {
    background-image: url('../img/card3.jpg');
}

.wallpaper-4 {
    background-image: url('../img/card4.jpg');
}

footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
footer a {
    color: #ffffff;
}
